<form id="gi-form"
      action="."
      method="post">
    {% csrf_token %}
    <div id="gi-h-w">
        <h3 class="gi-mh">{{ form.short_legal }}</h3>
        <span>{{ form.short_legal.errors }}</span>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>{{ form.full_legal }}</p>
            <span>{{ form.full_legal.errors }}</span>
        </div>
        <div class="col-md-3">
            <p class="nm">{{ form.situs_address }}</p>
            <span>{{ form.situs_address.errors }}</span>
            <p class="nm">{{ form.city}}</p>
            <span>{{ form.city.errors }}</span>
            <p class="nm">{{ form.state }}</p>
            <span>{{ form.state.errors }}</span>
            <p class="nm">{{ form.zip_code}}</p>
            <span>{{ form.zip_code.errors }}</span>
        </div>
    </div>
    <input id="gi-form-submit" class="btn btn-primary" type="submit" value="SAVE">
    <p>{{ form.non_field_errors }}</p>
</form>
